.c-footer-cover {
	display: flex;
	position: relative;
	padding: 0 50px 50px;
	line-height: 1;
	text-align: right;
	align-items: center;
	>:last-child {
		margin-left: auto;
	}
	&--top {
		padding-bottom: 25px;
		color: $_bgWhite;
	}
}

.c-footer-item {
	text-align: left;
}

.c-footer__link {
	text-align: left;
}

.c-footer__link__list {
	display: inline-block;
	@include fsize(14);
	margin-right: 50px;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}