.c-link {
	display: block;
	position: relative;
	&.is-active,
	&:hover {
		color: $_colorLink--hover;
		&:before {
			content: "";
			display: block;
			width: 95%;
			height: 1px;
			position: absolute;
			bottom: -5px;
			left: 0;
			background-color: $_colorLink--hover;
		}
	}
}

.c-link--main {
	display: inline-block;
	color: $_colorText;
	@include fsize(18);
	&:hover {
		&:before {
			content: "";
			display: block;
			width: 120%;
			height: 1px;
			position: absolute;
			bottom: -5px;
			left: -5%;
			background-color: $_colorText;
		}
		&:after {
			right: -13%;
		}
	}
	&:before {
		content: "";
		display: block;
		width: 120%;
		height: 1px;
		position: absolute;
		bottom: -5px;
		left: -5%;
		background-color: $_colorText;
		transition: .3s;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -6px;
		right: -10%;
		display: block;
		width: 1px;
		height: 50%;
		background-color: $_colorText;
		transform: rotate(-45deg);
		transition: .3s;
	}
}

.c-link--more {
	font-family: 'ABSTER';
	color: $_colorText;
	@include fsize(25);
	text-decoration: underline;
	text-align: center;
	&:hover {
		text-decoration: none;
		&:before {
			content: none;
		}
	}
}

.c-link--center {
	margin: 50px auto 0;
}

.c-link--footer {
	color: $_colorLink--hover;
	margin-bottom: 15px;
}

.c-link--blank {
	color: $_colorLink--hover;
	text-decoration: underline;
}