.c-title {
	display: block;
	line-height: 1;
}

.c-title--main {
	width: 100vw;
	position: absolute;
	top: 50%;
	margin: -8% auto 0;
	color: $_colorText;
	@include fsize(25);
	text-align: center;
	z-index: 2;
	&--thanks {
		top: 45%;
		line-height: 1.5;
	}
}

.c-title--contents{
	margin: 0 0 25px 25px;
	font-family: 'comodo';
	@include fsize(24);
	&--works {
		margin-bottom: 0;
	}
	&--sub {
		margin-top: 0;
		@include fsize(18);
	}
	&--details {
		margin-bottom: 15px;
		margin-left: 0;
		@include fsize(24);
		span {
			display: block;
			margin-bottom: 15px;
			@include fsize(12);
		}
	}
}

.c-title--works-index {
	position: relative;
	font-family: 'ABSTER';
	@include fsize(32);
	margin: 0 auto 200px;
	letter-spacing: 2px;
	text-align: center;
	&:before,
	&:after {
		content: "";
		width: calc(50% - 427px);
		height: 1px;
		background-color: #4f4f4f;
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
	}
	&:before {
		left: 100px;
	}
	&:after {
		right: 100px;
	}
}

.c-title--works-item {
	position: absolute;
	top: 50%;
	/** 左右一のみcontent.scssで設定 **/
	margin: 0;
	transform: translateY(-50%);
	font-family: 'ABSTER';
	@include fsize(45);
	color: #fff;
	text-decoration: underline;
	line-height: 1.25;
	opacity: 0;
	transition: .6s;
}

.c-title--about {
	position: relative;
	padding: 150px 0 100px;
	font-family: 'ABSTER';
	@include fsize(50);
	text-align: center;
	color: #fff;
	z-index: 1;
	span {
		display: block;
		margin: 0 auto 50px;
		@include fsize(35);
	}
}

.c-title--timeline {
	font-family: 'ABSTER';
	@include fsize(32);
	margin: 40vh auto 37vh;
	letter-spacing: 2px;
}

@media screen and (min-width:320px) and (max-width:959px) {
	.c-title--works-detail,
	.c-title--works-index {
		@include fsize(24);
		line-height: 1.5;
	}

	.c-title--works-detail {
		margin-top: 70px;
	}

	.c-title--works-index {
		margin-top: 105px;
	}

	.c-contents__item--works-detail--info {
		.c-title--works-detail {
			margin-top: 45px;
			margin-bottom: 15px;
		}
	}
	.c-title--timeline {
		margin: 36vh auto;
		line-height: 1.5;
	}
}