.l-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.l-wrapper--detail {
  height: 100vh;
  overflow: hidden;
}

.l-main {
  width: 100%;
  height: calc(100% - 177px);
}

.l-main--detail {
  margin-bottom: 74px;
  transition: .3s;
}

@include mq(sp) {
  .l-main {
    height: auto;
  }
}