#__nuxt {
	overflow: hidden;
}

.c-contents-loading {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s;
	z-index: -1;
	&.is-active {
		visibility: visible;
		opacity: 1;
		z-index: 999;
		background-color: #DEDEDE;
	}
	&.is-no-first {
		display: none;
	}
}

.c-content-first-load {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #dedede;
	z-index: 100;
}

.c-content-first-load__logo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.c-contents-cover {
	display: block;
	width: 100%;
	height: auto;
	transition: .3s;
  animation: fadeInAnimation .6s ease-in-out forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.c-contents-work {
	width: 100%;
	height: 100%;
	transition: transform .3s;
}

.c-contents-work--detail {
	height: 100vh;
}

@include mq(sp) {
	.c-contents-work.c-flex {
		display: block;
		overflow: hidden;
	}

	.c-contents-work {
		.c-flex__item {
			width: 100%;
			&:nth-child(2) {
				display: table;
				padding-left: 0;
				width: auto;
				margin: 6px auto;
			}
		}
	}
}