.c-title {
	font-weight: bold;
}

.c-title--main {
	margin: 0 0 30px;
	@include fsize(28);
	line-height: 1.4;
	letter-spacing: 4px;
	text-shadow: 0 -1px 0 #fff;
}

.c-title__label {
	display: block;
	margin-bottom: 20px;
	line-height: 1;
	@include fsize(18);
}