.c-title {
	display: block;
	line-height: 1;
}

.c-title--main {
	width: 100vw;
	position: absolute;
	top: 50%;
	margin: -8% auto 0;
	color: $_colorText;
	@include fsize(25);
	text-align: center;
	z-index: 2;
	&--thanks {
		top: 45%;
		line-height: 1.5;
	}
}

.c-title--contents,
.c-title--contents-sub {
	margin-bottom: calc(50px - 0.2%);
	text-align: center;
	font-family: 'Quest';
	@include fsize(40);
	line-height: .8;
	.c-title__caption,
	.c-title__caption-sub {
		@include fsize(20);
		color: $_text--caption;
		font-family: 'Fontopo';
	}
}
.c-title--contents--sub {
	@include fsize(30);
	margin-bottom: calc(25px - 0.2%);
}

.c-title--contents--details {
	font-family: 'Fontopo';
	.c-title__caption {
		font-family: 'Quest';
	}
}

.c-title--contents-sub {
	@include fsize(25);
	.c-title__caption-sub {
		@include fsize(12);
	}
}

@media screen and (min-width:320px) and (max-width:959px) {
	.c-title--contents,
	.c-title--contents-sub {
		margin-bottom: calc(25px - 0.2%);
		line-height: 1.3;
	}
	.c-title--main {
		top: 38%;
		padding: 0 40px;
		&--thanks {
			top: 20%;
		}
	}
}